@model IEnumerable<TCU_Comedor.Models.MonitoreoAlimenticio>

<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Comedor Institucional - Monitoreo Alimenticio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link href="~/css/themes.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <section id="hero-area">
        <img class="img-responsive" src="~/Imagen/header.jpg" alt="" />
    </section>

    <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <nav class="navbar navbar-expand-lg">
                                    <div class="collapse navbar-collapse" id="navbarNav">
                                        <ul class="navbar-nav ms-auto">
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("IndUsuario", "RolesPropuestos")">Inicio</a> @*Listo*@
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index", "Menu")">Menu del día</a> @*Listo*@
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index", "Alimentacion")">Alimentación</a>  @*Listo*@
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("IndexConsultas", "Usuarios")">Consultas</a>  @*Listo*@
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("IndexInforme", "Alimentacion")">Informe personal</a> @*Listo*@
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Perfil", "Usuarios")">Perfil</a> @*Listo*@
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href='@Url.Action("Index", "Ajustes")'><i class="fas fa-cog"></i></a> @*Listo*@
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>Monitoreo <span>Alimenticio</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Imagen/cooker-img.png"
                             alt="cooker-img">
                        <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                            Control y
                            <span>Seguimiento</span> </br>de la <span>Alimentación</span> Escolar
                        </h1>
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                            En esta sección monitoreamos el consumo alimentario de nuestros estudiantes para garantizar una nutrición balanceada.</br>
                            Cada registro nos permite evaluar los hábitos alimenticios y mejorar continuamente nuestros menús, </br>
                            asegurando que cada niño reciba los nutrientes necesarios para su óptimo desarrollo y aprendizaje.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading">Registros de <span> Monitoreo </span> <span>Alimenticio</span></h1>

                        @if (Model != null && Model.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Menú</th>
                                            <th>Observaciones</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                                <td>
                                                    @if (item.Menu != null)
                                                    {
                                                        @Html.DisplayFor(modelItem => item.Menu.NombreComida)
                                                    }
                                                    else
                                                    {
                                                        <span class="text-muted">Sin menú asociado</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.Observacion))
                                                    {
                                                        @item.Observacion
                                                    }
                                                    else
                                                    {
                                                        <span class="text-muted">Sin observaciones</span>
                                                    }
                                                </td>
                                             
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <h4><i class="fas fa-info-circle"></i> No hay registros disponibles</h4>
                                <p>Actualmente no existen registros de monitoreo alimenticio. Puede comenzar agregando un nuevo registro.</p>
                            </div>
                        }

                      
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/comedorSettings.js"></script>
</body>
</html>